@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dynamic Forms</title>
    <meta name="description" content="Dynamic Form Designer">
    <meta name="author" content="Immanuel Developer">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="https://cdn.jsdelivr.net/npm/ark-js-util@latest/ark-util.js"></script>
</head>
<body>
    <header>
        <img src="/img/event_logo_.PNG" />
        <h1><i class="fa fa-cloud"></i> Registration!</h1>
        <p>Date / Time : 08 Nov 2022 / 6 PM</p>
        <h3>
            <a href="https://goo.gl/maps/hQ5suyDrbbX6U2sH7" target="_blank" style="font-size:20px;"> <img style="width:20px;" src="/img/map-icon.png" />  venue</a>
        </h3>
    </header>
    <form action="" method="post">
        <!--  General -->
        <div class="form-group">
            <div class="controls">
                <input type="text" id="full_name" class="floatLabel" name="full_name">
                <label for="full_name">Full Name</label>
            </div>
            <div class="controls">
                <input type="tel" id="email_phone" placeholder="" class="floatLabel" name="email_phone">
                <label for="email_phone">Mobile</label>
            </div>
            <div class="controls">
                <input type="text" id="profession" placeholder="" class="floatLabel" name="profession">
                <label for="profession">Profession (ex: Doctor, Student etc)</label>
            </div>
            <div class="controls">
                <input type="number" id="accomponied" placeholder="" class="floatLabel" name="accomponied">
                <label for="accomponied">Accompanying Persons (ex: 1, 2, 3)</label>
            </div>
            <div class="controls">
                <input type="text" id="fellowship_src" placeholder="" class="floatLabel" name="fellowship_src">
                <label for="fellowship_src">Fellowship From</label>
            </div>
            @*<div class="controls" style="margin-bottom: 20px;">
                <input id="chk-attend" type="checkbox" />
            </div>*@
            <div class="controls" style="text-align:center;">
                <span id="err" style="color:red;font-size:x-large;">@(ViewBag.error ?? "")</span>
            </div>
            <div class="controls">
                <br />
                <button id="btn-submit">Submit</button>
            </div>
        </div>
    </form>
    <script src="/js/site.js"></script>
</body>
</html>
